{% extends "header.html" %}
<style>
    .section-grid {
        /* height: 100vh; */
        /* background-color: cornsilk; */
        background-color: floralwhite;
    }

    .grid-col {
        width: 100%;
        /* min-height: 150px; */
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px darkgoldenrod;
        border-radius: 20px;
        height: 100%;
        transition: all .4s ease-in-out;
    }

    .grid-col img {
        border-radius: 20px;
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: all .4s ease-in-out;
        border: none;
    }

    .grid-col.grid-1,
    .grid-col.grid-4 {
        height: 140px;

    }

    .grid-col.grid-2,
    .grid-col.grid-5 {
        height: 140px;

    }

    .grid-col.grid-14,
    .grid-col.grid-15,
    .grid-col.grid-16 {
        height: 178px;

    }

    .grid-col.grid-3 {
        height: 256px;

    }

    .grid-col.grid-6,
    .grid-col.grid-11,
    .grid-col.grid-12 {
        height: 100px;

    }

    .grid-col.grid-8,
    .grid-col.grid-13 {
        height: 140px;

    }

    .grid-col.grid-10 {
        height: 179px;
    }

    .grid-col:hover {
        transform: translateY(2px);
        box-shadow: 0 0 18px darkgoldenrod;
    }

    .grid-col img:hover {
        opacity: 1;
    }

    .grid-col img:hover+span {
        opacity: 1;
    }

    .grid-col.grid-15 img {
        object-position: -47px;
    }


    .grid-overlay {
        top: 0;
        left: 0;
        /* background-color: #007bff; 

        background-color: #ace8fbd9;*/
        background-color:none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        border-radius: 20px;
        border: 0.25rem solid white;
        transition: all .4s ease-in-out;
        overflow: auto;
        
        


    }

   /* @keyframes mymove{
        from{
            opacity: 0;
            background-color:;
        }
        to{
            opacity: 1;
            


        }
    }*/

    /*.first{
        animation:mymove 3s 1s infinite ;
        
        animation-timing-function:linear;
        animation-iteration-count:infinite;

    }
    @keyframes mymove{
        from{
            opacity:0;
            

        }
        to{
            opacity:1;
            background-color:white;

            

        }
    }
    .second{
        animation:secondmove 3s 3.1s infinite ;
        animation-timing-function:linear;
        animation-iteration-count:1;
        

    }
    @keyframes secondmove{
        from{
            opacity:0;
            

        }
        to{
            opacity:1;
            background-color:white;

            

        }
    }
    .third{
        animation:secondmove 3s 6s infinite ;
        animation-timing-function:linear;
        animation-iteration-count:1;
        

    }
    @keyframes thirdmove{
        from{
            opacity:0;
            

        }
        to{
            opacity:1;
            background-color:white;

            

        }
    }*/



















    .grid-overlay .box-heading {
        font-size: 16px;
        text-align: center;
        padding: 10px;
        color: navy;
        ;
    }

    /*.item{
        width: 500px;
        height:600px;
        
    }
    .owl-carousel {
    display: flex;
    object-fit: cover;
    max-width: initial;
}*/
    .section-main-p {
        width: 480px;

    }
</style>
{% block content %}
<section class="section-hero">
    <div class="container-lg container-fluid mx-auto text-center">
        <div class="row">
            <div class="col-md-3 position-relative p-0 my-auto text-left left-div">
                <img src="{{url_for('static',filename='images/left_img_1.jpeg')}}" alt="" class="img-fluid w-100 h-50 img-left-1">
                <br>
                <img src="{{url_for('static',filename='images/left_img_2.jpeg')}}" alt="" class="img-fluid w-100 h-50 img-left-2">
            </div>
            <div class="col px-0 center-div">
                <div class="container-fluid text-center px-0">
                    <div class="row mx-auto">
                        <div class="col-md-12 mx-auto">
                            <h1 class="h1-explore">Explore Multiple Careers
                            </h1>
                        </div>
                    </div>
                    <div class="row my-auto w-100 mx-auto">
                        <div class="col-md-5 mx-auto my-auto d-md-flex">
                            <img src="{{url_for('static',filename='images/gif_img.gif')}}" alt="" class="img-fluid gif-img" width="160">
                        </div>
                        <div
                            class="col-md-5 mx-auto my-auto d-flex justify-content-center align-items-center col-video">
                            <h4 class="heading-mute">HOW IT WORKS</h4>
                            <div class="bg-light rounded-lg p-0 video-play-btn">
                                <div class=" rounded-lg d-flex justify-content-center align-items-center">
                                    <span><i class="fa fa-play text-white"></i></span>
                                </div>
                            </div>

                            <div class="my-modal-container">
                                <div class="my-modal position-relative text-white">
                                    <span class="position-absolute close-btn">
                                        <i class="fa fa-close pr-2"></i><small>Close</small>
                                    </span>
                                    <iframe src="https://www.youtube.com/embed/ZUG9qYTJMsI" frameborder="0" width="100%"
                                        height="100%" class="rounded-lg" allowfullscreen></iframe>
                                </div>
                            </div>
                            <h4 class="heading-mute text-truncate"><small>Psss... Yea it's on mute</small></h4>
                        </div>
                    </div>
                    <div class="row py-5 mx-auto">
                        <div class="col px-0">
                            <p class="center-para">RapidUplifter lets you spend time with a proffessional of your
                                choice to see
                                your
                                future career in action live - Watch, feel, get the pros cons and then decide if
                                you
                                want to pursue that career</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 p-0 my-auto text-right right-div">
                <img src="{{url_for('static',filename='images/right_img_1.jpg')}}" alt="" class="img-fluid w-100 h-50 img-right-1">
                <br>
                <img src="{{url_for('static',filename='images/right_img_2.jpeg')}}" alt="" class="img-fluid w-100 h-50 img-right-2">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container container-steps">
        <div class="row position-relative">
            <div class="col-auto mx-auto text-center" style="border-radius: 0 0 50% 50%;">
                <h3 class="alert mb-5 mt-3 alert-secondary rounded-pill border-0 steps-header">3 Easy Steps</h3>

            </div>
            <div class="my-arrow mt-4">
                <span class="border-warning"></span>
                <span class="border-warning"></span>
                <span class="border-warning"></span>
            </div>
        </div>
        <div class="row pt-2 mx-auto">
            <div class="col-md-4 text-center">
                <img src="{{url_for('static',filename='images/step1.png')}}" alt="" class="img-fluid w-100 h-50 img-right-2" alt="" class="img-fluid img-steps">
                <div class="py-3">
                    <a href="" class="btn btn-warning">Step 1</a>
                </div>
                <p class="py-4">Select a career you want</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{url_for('static',filename='images/step2.png')}}" alt="" class="img-fluid img-steps">
                <div class="py-3">
                    <a href="" class="btn btn-warning">Step 2</a>
                </div>
                <p class="py-4 px-5">We setup a meeting with the professional who is currently working in that field
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{url_for('static',filename='images/step3.png')}}" alt="" class="img-fluid img-steps">
                <div class="py-3">
                    <a href="" class="btn btn-warning">Step 3</a>
                </div>
                <p class="py-4 px-5">Enjoy your tour, ask questions, get a feel for the job</p>
            </div>
        </div>
</section>
<section class="bg-light ">
    <div class="container-lg mx-auto pb-4">
        <div class="row">
            <div class="col text-center text-warning alert m-0 pb-0">
                <h3 class="m-0">WHY GO WITH RAPID</h3>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-3 d-flex py-3 px-2">
                <div
                    class="d-flex align-items-center justify-content-center my-auto shadow h-100 rounded-lg p-3 w-100 bg-white">
                    <img src="./assets/images/business_img.png" alt="" class="img-fluid p-2 support-img">
                    <p class="my-autoRapidUp mx-auto" style="font-size: 13px !important;">We have personally met and
                        verified every business</p>
                </div>
            </div>
            <div class="col-md-3 d-flex py-3 px-2">
                <div
                    class="d-flex align-items-center justify-content-center my-auto shadow h-100 rounded-lg p-3 w-100 bg-white">
                    <img src="./assets/images/personalised_img.png" alt="" class="img-fluid p-2 support-img">
                    <p class="my-auto mx-auto support-p">One to one personalised sessions
                        only</p>
                </div>
            </div>
            <div class="col-md-3 d-flex py-3 px-2">
                <div
                    class="d-flex align-items-center justify-content-center my-auto shadow h-100 rounded-lg p-3 w-100 bg-white">
                    <img src="./assets/images/education_img.png" alt="" class="img-fluid p-2 support-img">
                    <p class="my-auto mx-auto support-p">Education support - let the pros
                        tell you what you need to study</p>
                </div>
            </div>
            <div class="col-md-3 d-flex py-3 px-2">
                <div
                    class="d-flex align-items-center justify-content-center my-auto shadow h-100 rounded-lg p-3 w-100 bg-white">
                    <img src="./assets/images/mentorship_img.png" alt="" class="img-fluid p-2 support-img">
                    <p class="my-auto mx-auto support-p">Mentorship - you will have a mentor even before
                        you start your career</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-main">
    <div class="container ">
        <div class="row">
            <div class="col-md-5 mx-auto  p-0">
                <!-- <img src="./assets/img/accountant.jpg" alt="" class="img-fluid"> 
                <div class="owl-carousel owl-theme owl-carousel-main">
                    <div class="item">
                        <img src="./assets/images/Image 1 for Change 2 Steve Jobs.jpg" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="./assets/images/Stressed man Image 2 change 2.jpg" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="./assets/images/Student Image 3 change 2.jpg" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                </div>-->

                <div class="owl-carousel owl-theme owl-carousel-main pt-5">
                    <div class="item">
                        <img src="{{url_for('static',filename='images/carousel_img_1.jpg')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="{{url_for('static',filename='images/carousel_img_2.JPG')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="{{url_for('static',filename='images/carousel_img_3.png')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                </div>

                <!-- Slider main container -->
                <!-- <div class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="./assets/img/accountant.jpg" alt="" class=""></div>
                            <div class="swiper-slide"><img src="./assets/img/What-Does-An-Auto-Mechanic-Do.png" alt=""
                                    class="">
                            </div>
                            <div class="swiper-slide"><img src="./assets/img/chef.JPG" alt="" class=""></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-scrollbar"></div>
                    </div>


                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="./assets/img/accountant.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="./assets/img/What-Does-An-Auto-Mechanic-Do.png" alt="">
                            </div>
                            <div class="swiper-slide"><img src="./assets/img/chef.JPG" alt=""></div>
                        </div>
                    </div> -->
            </div>
            <div class="col text-justify ml-0 ml-md-5 main-carousel-col py-3">
                <!--<h5 class="text-left">Take a tour of your future career - watch it live in action.</h5>
                <p class="section-main-p"><b>Steve jobs said </b> <small>“The only way to do great work is to love what
                        you do. If you haven't found it yet, keep looking. Don't settle.”
                        But how do you find what you love without experiencing it ? That is exactly what we are here to
                        solve.
                        Meet, see, hear and feel your future career. Ask questions - how many hours do you work? Does it
                        include weekends? What about the pay? What kind of career growth am I looking at?</small>
                </p>
                <ul type="disc">
                    <li>Thinking of changing your career but not sure what to do ?</li>
                    <li>Just left school and dont know what to do next?</li>
                    <li>Want to start a side hustle for some extra cash? But how do I market, get clients, bill them?
                    </li>
                </ul>-->
                <h5 class="text-left">Take a tour of your future career - watch it live in action.</h5>
                <p class="section-main-p"><small>Career tours replicate a real-life 9 to 5 job so that you get to know
                        the
                        pros and cons
                        beforehand. Learn what the job entails. Never again get stuck on a job you hate or spend
                        thousands on a course to realize you won't fit into that career.</small></p>


                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center tour-lock-open-span">
                        <i class="fa fa-lock-open fa-2x text-orange"></i>
                    </span>
                    <p class="my-auto" data-para-index="0">No applications or experience required</p>
                </div>

                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center tour-circle-check-span">
                        <i class="fa fa-circle-check fa-regular fa-2x text-orange"></i>
                    </span>
                    <p class="my-auto" data-para-index="1"> Verified Australian Businesses</p>
                </div>

                <div class="d-flex align-items-center ">
                    <span class="d-flex align-items-center justify-content-center tour-eye-span">
                        <i class="fa fa-eye fa-2x fa-regular text-orange"></i>
                    </span>
                    <p class="my-auto" data-para-index="2">Watch and decide if this career is really for you</p>
                </div>

                <div class="d-flex mt-3">
                    <a href="#" class="btn-warning btn-view-tours align-items-center d-flex justify-content-center">
                        View Tours
                        <i class="fa fa-arrow-right-long pl-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="second-carousel">
    <div class="container">
        <div class="row">
        
        <div class="col text-justify  md-6 main-carousel-col py-5 pl-md-0">
        <!--<h5 class="text-left">Take a tour of your future career - watch it live in action.</h5>-->
                <p class="section-main-p"><b>Steve jobs said  “The only way to do great work is to love what
                        you do. If you haven't found it yet, keep looking. Don't settle.”</b>
                        <small>But how do you find what you love without experiencing it ? That is exactly what we are here to
                        solve.
                        Meet, see, hear and feel your future career. Ask questions - how many hours do you work? Does it
                        include weekends? What about the pay? What kind of career growth am I looking at?</small>
                </p>
                <!--<ul type="disc" class="pl-md-3 py-2">
                    <li>Thinking of changing your career but not sure what to do ?</li>
                    <li>Just left school and dont know what to do next?</li>
                    <li>Want to start a side hustle for some extra cash? But how do I market, get clients, bill them?
                    </li>
                </ul>-->
                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center tour-eye-span  ">
                    <i class="fa-2x text-orange fa-sharp fa-solid fa-face-meh"></i>
                   
                    </span>
                    <p  class="my-auto " data-para-index="0" > Thinking of changing your career but not sure what to do ? </p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center tour-eye-span" >
                    <i class="fa-solid fa-2x fa-school-lock text-orange"></i>
                   
                    </span>
                    <p class="my-auto"data-para-index="1" > Just left school and dont know what to do next? </p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center justify-content-center tour-eye-span" >
                    <i class=" fa-2x text-orange fa-solid fa-sack-dollar"></i>
                    </span>
                    <p class="my-auto" data-para-index="2" > Want to start a side hustle for some extra cash? But how do I market, get clients, bill them? </p>

                </div>

        </div>
        <div class="col-md-5   p-0 py-5">
       
        <div class="owl-carousel owl-theme owl-carousel-main ">
                    <div class="item">
                        <img src="{{url_for('static',filename='images/Image 1 for Change 2 Steve Jobs.jpg')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="{{url_for('static',filename='images/Stressed man Image 2 change 2.jpg')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                    <div class="item">
                        <img src="{{url_for('static',filename='images/Student Image 3 change 2.jpg')}}" alt=""
                            class="h-100 w-100 img-fluid carousel-image">
                    </div>
                </div>


        </div>

        </div>
    </div>
</section>


{% endblock %}